<h1>Sign In</h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="EMAIL" required>
    <input type="password" name="password" required>
    <input type="submit" name="" value="Sign in">
</form>